/*@import './button.scss';*/
.worktasklist-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.worktask-list {
  flex: 1;
  overflow: auto;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: .1rem;

  .scroll-view {
    flex: 1;
  }
}